body {
    width: 100%; font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 0; padding: 0; background-color: whitesmoke;
}

.header{
    background-color: black; display: flex; width: 100%; height: 180px;
}

.logo{
    width: 170px; height: 170px; padding-top: 1vh; padding-bottom: 1vh;
}

.sci-sim{
    font-size: 25px; font-family: fantasy; margin-left: 2vw; margin-right: 2vw;
    padding: 0vh; color: white;
}
.about { 
    color:white;
}
.contact{
    color: white;
}
.linkedin{
    width:40px; height: 40px; margin-left: 2vw; margin-top: 1vh;
}
.main{
    display: flex; flex-direction: row; font-family: Verdana, sans-serif;
    font-size: 20px; line-height: 30px; margin-top: 30px;
}

.science{
    width: 35vw; min-height: 50vh; background-color: white; margin-left: 10vw; margin-top:1vh;
    padding: 10px; 
}

.career{
    width: 35vw; min-height: 50vh; background-color: white; margin-left: 10vw; margin-top:1vh;
    padding: 10px;
}

.bottom{
    padding-top: 0px; padding-left: 50px; font-family: Verdana, sans-serif; font-size: 20px; line-height: 35px;
    height: 50vh;
}

.contact-bottom{
    font-size: 25px; font-family: fantasy; margin-bottom: 0px;
}

.linkedin-bottom{
    width:40px; height: 20px; margin-left: 20px; 
}


@media (max-width: 720px){
    .main{
        flex-direction: column;
    }
    
    .science{
        width: 75vw; 
    }
    
    .career{
        width: 75vw; 
    }
}

