body {
    width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; padding: 0; background-color: whitesmoke;
}

.header{
    background-color: black; display:flex;
}

.logo{
    padding-top: 1vh; padding-bottom: 1vh;
}

p{
    font-size: xx-large; font-family: fantasy; margin-left: 2vw; margin-right: 2vw;
    padding: 0vh; 
}
a{
    color:white;
}
.main{
    display: flex; flex-direction: row;
}

.science{
    width: 25vw; height: 50vh; background-color: white; margin-left: 5vw;
}

.career{
    width: 25vw; height: 50vh; background-color: white; margin-left: 5vw;
}

p {color: white}


@media (max-width: 768px){

}

@media (max-width: 481px){

}